In [5]:
import pandas as pd

In [2]:
movies = pd.read_csv("/kaggle/input/the-movies-dataset/movies_metadata.csv",
                    usecols=["title","vote_average","release_date","overview","id"])

In [3]:
movies.head(10)

,id,overview,release_date,title,vote_average
0,862,"Led by Woody, Andy's toys live happily in his ...",1995-10-30,Toy Story,7.7
1,8844,When siblings Judy and Peter discover an encha...,1995-12-15,Jumanji,6.9
2,15602,A family wedding reignites the ancient feud be...,1995-12-22,Grumpier Old Men,6.5
3,31357,"Cheated on, mistreated and stepped on, the wom...",1995-12-22,Waiting to Exhale,6.1
4,11862,Just when George Banks has recovered from his ...,1995-02-10,Father of the Bride Part II,5.7
5,949,"Obsessive master thief, Neil McCauley leads a ...",1995-12-15,Heat,7.7
6,11860,An ugly duckling having undergone a remarkable...,1995-12-15,Sabrina,6.2
7,45325,"A mischievous young boy, Tom Sawyer, witnesses...",1995-12-22,Tom and Huck,5.4
8,9091,International action superstar Jean Claude Van...,1995-12-22,Sudden Death,5.5
9,710,James Bond must unmask the mysterious head of ...,1995-11-16,GoldenEye,6.6

In [4]:
movies.duplicated().sum()

30

In [5]:
movies.drop_duplicates(inplace = True)

In [6]:
movies.duplicated().sum()

0

In [7]:
movies.isnull().sum()

id                0
overview        954
release_date     87
title             6
vote_average      6
dtype: int64

In [8]:
movies.dropna(inplace=True)

In [9]:
movies.isnull().sum()

id              0
overview        0
release_date    0
title           0
vote_average    0
dtype: int64

In [10]:
movies.reset_index(inplace=True, drop=True)

In [11]:
ratings = pd.read_csv("/kaggle/input/the-movies-dataset/ratings_small.csv")

In [12]:
ratings

        userId  movieId  rating   timestamp
0            1       31     2.5  1260759144
1            1     1029     3.0  1260759179
2            1     1061     3.0  1260759182
3            1     1129     2.0  1260759185
4            1     1172     4.0  1260759205
...        ...      ...     ...         ...
99999      671     6268     2.5  1065579370
100000     671     6269     4.0  1065149201
100001     671     6365     4.0  1070940363
100002     671     6385     2.5  1070979663
100003     671     6565     3.5  1074784724

[100004 rows x 4 columns]

In [13]:
ratings.duplicated().sum()

0

In [14]:
ratings.isnull().sum()

userId       0
movieId      0
rating       0
timestamp    0
dtype: int64

In [15]:
ratings.dtypes

userId         int64
movieId        int64
rating       float64
timestamp      int64
dtype: object

In [16]:
pd.to_datetime(0, unit="s")

Timestamp('1970-01-01 00:00:00')

In [17]:
ratings["date"] = pd.to_datetime(ratings["timestamp"], unit="s")

In [18]:
ratings.drop("timestamp",axis=1, inplace=True)

In [19]:
ratings.sort_values(by="date",ascending=False)

       userId  movieId  rating                date
35069     251     1704     4.5 2016-10-16 17:57:24
35096     251     6377     4.5 2016-10-16 13:08:20
35140     251    81847     4.5 2016-10-16 13:08:02
35172     251   134853     5.0 2016-10-16 13:06:57
35125     251    56587     5.0 2016-10-16 13:05:31
...       ...      ...     ...                 ...
56917     409       85     5.0 1996-03-30 19:00:12
56910     409       30     5.0 1996-03-30 19:00:12
52641     383       47     5.0 1995-01-09 11:46:49
52684     383     1079     3.0 1995-01-09 11:46:49
52635     383       21     3.0 1995-01-09 11:46:49

[100004 rows x 4 columns]

In [20]:
movies.rename(columns={"id":"movieId"},inplace=True)

In [21]:
movies.dtypes

movieId          object
overview         object
release_date     object
title            object
vote_average    float64
dtype: object

In [22]:
ratings.dtypes

userId              int64
movieId             int64
rating            float64
date       datetime64[ns]
dtype: object

In [23]:
movies.loc[:,"movieId"] = movies["movieId"].astype("int64")

In [24]:
df = pd.merge(movies,ratings,on="movieId",how="inner")

In [25]:
df.head()

,movieId,overview,release_date,title,vote_average,userId,rating,date
0,949,"Obsessive master thief, Neil McCauley leads a ...",1995-12-15,Heat,7.7,23,3.5,2006-05-27 09:11:32
1,949,"Obsessive master thief, Neil McCauley leads a ...",1995-12-15,Heat,7.7,102,4.0,2000-04-24 17:55:42
2,949,"Obsessive master thief, Neil McCauley leads a ...",1995-12-15,Heat,7.7,232,2.0,2000-04-07 07:31:37
3,949,"Obsessive master thief, Neil McCauley leads a ...",1995-12-15,Heat,7.7,242,5.0,2000-04-25 18:53:45
4,949,"Obsessive master thief, Neil McCauley leads a ...",1995-12-15,Heat,7.7,263,3.0,2005-06-04 00:56:15

# User Based

In [26]:
user_movie_df = df.groupby(["userId","title"])["rating"].mean().unstack()
user_movie_df.head()

title,!Women Art Revolution,'Gator Bait,'Twas the Night Before Christmas,...And God Created Woman,00 Schneider - Jagd auf Nihil Baxter,10 Items or Less,10 Things I Hate About You,"10,000 BC",11'09''01 - September 11,12 Angry Men,...,Zodiac,Zombie Flesh Eaters,Zombie Holocaust,Zozo,eXistenZ,xXx,¡Three Amigos!,À nos amours,Ödipussi,Şaban Oğlu Şaban
userId,,,,,,,,,,,,,,,,,,,,,
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [27]:
lucky_guy = user_movie_df.sample(1,random_state=42).index[0]

In [28]:
lucky_guy

362

In [29]:
random_user_df = user_movie_df[user_movie_df.index==lucky_guy]

In [30]:
random_user_df

title,!Women Art Revolution,'Gator Bait,'Twas the Night Before Christmas,...And God Created Woman,00 Schneider - Jagd auf Nihil Baxter,10 Items or Less,10 Things I Hate About You,"10,000 BC",11'09''01 - September 11,12 Angry Men,...,Zodiac,Zombie Flesh Eaters,Zombie Holocaust,Zozo,eXistenZ,xXx,¡Three Amigos!,À nos amours,Ödipussi,Şaban Oğlu Şaban
userId,,,,,,,,,,,,,,,,,,,,,
362,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [31]:
movies_watched = random_user_df.dropna(axis=1).columns.tolist()
lucky_guy_watched_ids = df["movieId"][(df["userId"]==lucky_guy)]

In [32]:
movies_watched

['5 Card Stud',
 'A River Runs Through It',
 'A Woman, a Gun and a Noodle Shop',
 'American Pie 2',
 'Bad Boys II',
 'Beetlejuice',
 'Belle Époque',
 'Best Worst Movie',
 'Bridge to Terabithia',
 "Cheerleaders' Wild Weekend",
 'Confession of a Child of the Century',
 'Cool Hand Luke',
 'Cousin, Cousine',
 'Dawn of the Dead',
 "Don't Look Down",
 'Double Indemnity',
 'Downhill Racer',
 'Dreamgirls',
 'High Noon',
 'House of Dracula',
 'License to Wed',
 'Light of Day',
 'Local Color',
 'Millennium',
 'Million Dollar Baby',
 'Murder She Said',
 'My Name Is Bruce',
 'Salvatore Giuliano',
 'Say Anything...',
 'Shriek If You Know What I Did Last Friday the Thirteenth',
 'Sleepless in Seattle',
 'Solaris',
 'Stand by Me',
 'Terminator 3: Rise of the Machines',
 'The Conversation',
 'The Ewok Adventure',
 'The Holy Mountain',
 'The Last Samurai',
 'The Man with the Golden Arm',
 'The Mikado',
 'The Million Dollar Hotel',
 'The Out-of-Towners',
 'The Poseidon Adventure',
 'The Prisoner of Zenda',
 'The Talented Mr. Ripley',
 'Under the Sand',
 'Young and Innocent']

In [33]:
movies_watched_df = user_movie_df[movies_watched]

In [34]:
movies_watched_df

title,5 Card Stud,A River Runs Through It,"A Woman, a Gun and a Noodle Shop",American Pie 2,Bad Boys II,Beetlejuice,Belle Époque,Best Worst Movie,Bridge to Terabithia,Cheerleaders' Wild Weekend,...,The Last Samurai,The Man with the Golden Arm,The Mikado,The Million Dollar Hotel,The Out-of-Towners,The Poseidon Adventure,The Prisoner of Zenda,The Talented Mr. Ripley,Under the Sand,Young and Innocent
userId,,,,,,,,,,,,,,,,,,,,,
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3.0,NaN,NaN,NaN,NaN,5.0,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,5.0,NaN,NaN,NaN,NaN,NaN,3.5
4,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,5.0,NaN,...,5.0,5.0,NaN,NaN,NaN,NaN,NaN,5.0,NaN,NaN
5,NaN,NaN,NaN,3.5,NaN,NaN,NaN,4.5,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
667,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3.0,NaN,NaN,NaN,NaN,3.0,NaN,NaN,NaN,NaN
668,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,4.0,NaN,NaN,NaN,5.0,NaN,NaN
669,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
670,NaN,NaN,NaN,4.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,5.0,NaN,NaN,NaN,NaN,NaN,NaN
671,5.0,NaN,NaN,NaN,NaN,4.0,NaN,NaN,4.0,NaN,...,NaN,NaN,NaN,5.0,NaN,5.0,NaN,NaN,4.5,4.0

In [35]:
user_movie_count = movies_watched_df.notnull().sum(axis=1)

In [36]:
filted_df = movies_watched_df[movies_watched_df.index.isin(user_movie_count.index)]

In [37]:
corr_df = filted_df.T.corr().unstack()

In [38]:
corr_df

userId  userId
1       1         NaN
        2         NaN
        3         NaN
        4         NaN
        5         NaN
                 ...
671     667      -1.0
        668      -1.0
        669       NaN
        670       NaN
        671       1.0
Length: 450241, dtype: float64

In [39]:
top_users = pd.DataFrame(corr_df[lucky_guy][corr_df[lucky_guy] > 0.6], columns=["corr"])

In [40]:
top_users

            corr
userId
4       0.804984
6       1.000000
10      1.000000
16      0.755929
24      1.000000
...          ...
647     0.700736
656     1.000000
662     1.000000
666     0.866025
670     1.000000

[110 rows x 1 columns]

In [41]:
top_users_ratings = pd.merge(top_users, ratings[["userId", "movieId", "rating"]], how='inner', on="userId")

In [42]:
top_users_ratings = top_users_ratings[~(top_users_ratings["movieId"].isin(lucky_guy_watched_ids))]

In [43]:
top_users_ratings['weighted_rating'] = top_users_ratings['corr'] * top_users_ratings['rating']

In [44]:
recommendation_df = top_users_ratings.pivot_table(values="weighted_rating", index="movieId", aggfunc="mean")

In [45]:
movies_to_be_recommend = recommendation_df[recommendation_df["weighted_rating"] > 3.5].sort_values(by="weighted_rating", ascending=False)

In [46]:
pd.merge(movies_to_be_recommend,movies,how="inner",on="movieId")[["movieId","weighted_rating","title"]]

    movieId  weighted_rating                   title
0       407         5.000000       Short Sharp Shock
1     55765         5.000000          Righteous Ties
2      5055         5.000000      Ashes and Diamonds
3       940         5.000000       The Lady Vanishes
4      1927         5.000000                    Hulk
..      ...              ...                     ...
93     1566         3.512063              The Bridge
94     1957         3.508538                  Enough
95     2841         3.507362  A Very Long Engagement
96     1278         3.504239            The Dreamers
97     2925         3.503679    The First Wives Club

[98 rows x 3 columns]

# Content Based

In [47]:
movies

,movieId,overview,release_date,title,vote_average
0,862,"Led by Woody, Andy's toys live happily in his ...",1995-10-30,Toy Story,7.7
1,8844,When siblings Judy and Peter discover an encha...,1995-12-15,Jumanji,6.9
2,15602,A family wedding reignites the ancient feud be...,1995-12-22,Grumpier Old Men,6.5
3,31357,"Cheated on, mistreated and stepped on, the wom...",1995-12-22,Waiting to Exhale,6.1
4,11862,Just when George Banks has recovered from his ...,1995-02-10,Father of the Bride Part II,5.7
...,...,...,...,...,...
44400,30840,"Yet another version of the classic epic, with ...",1991-05-13,Robin Hood,5.7
44401,111109,An artist struggles to finish his work while a...,2011-11-17,Century of Birthing,9.0
44402,67758,"When one of her hits goes wrong, a professiona...",2003-08-01,Betrayal,3.8
44403,227506,"In a small town live two brothers, one a minis...",1917-10-21,Satan Triumphant,0.0
44404,461257,50 years after decriminalisation of homosexual...,2017-06-09,Queerama,0.0

In [48]:
movies["overview"].str.replace(r"[^\w\s]"," ",regex=True).str.replace(r"[\d]","",regex=True).iloc[1]

'When siblings Judy and Peter discover an enchanted board game that opens the door to a magical world  they unwittingly invite Alan    an adult who s been trapped inside the game for  years    into their living room  Alan s only hope for freedom is to finish the game  which proves risky as all three find themselves running from giant rhinoceroses  evil monkeys and other terrifying creatures '

In [49]:
def clear_doc(data,column):
    data = data.copy()
    data[column] = data[column].str.replace(r"[^\w\s]"," ",regex=True).str.replace(r"[\d]","",regex=True)
    return data[column]

In [50]:
movies["overview"] = clear_doc(movies,"overview")

In [51]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity

In [52]:
tfidf = TfidfVectorizer(stop_words="english", min_df=5)
tfidf_matrix = tfidf.fit_transform(movies['overview'])

In [53]:
sozluk = dict(zip(tfidf.get_feature_names_out(),tfidf.idf_))

In [54]:
pd.DataFrame(sozluk.items(),columns=["key","value"]).sort_values(by="value",ascending=False)

           key     value
0           aa  9.909370
8484    hiatus  9.909370
7764   gooding  9.909370
7770     goody  9.909370
7776     gopal  9.909370
...        ...       ...
6882      film  3.316098
11129      man  3.207410
12405      new  3.195402
20319    young  3.018422
10599     life  2.903581

[20417 rows x 2 columns]

In [55]:
cosine_sim = cosine_similarity(tfidf_matrix,
                               tfidf_matrix)
cosine_sim

array([[1.        , 0.01616281, 0.        , ..., 0.        , 0.00623551,
        0.        ],
       [0.01616281, 1.        , 0.04922981, ..., 0.        , 0.02371769,
        0.01128332],
       [0.        , 0.04922981, 1.        , ..., 0.        , 0.01439379,
        0.        ],
       ...,
       [0.        , 0.        , 0.        , ..., 1.        , 0.        ,
        0.        ],
       [0.00623551, 0.02371769, 0.01439379, ..., 0.        , 1.        ,
        0.        ],
       [0.        , 0.01128332, 0.        , ..., 0.        , 0.        ,
        1.        ]])

In [56]:
movies

,movieId,overview,release_date,title,vote_average
0,862,Led by Woody Andy s toys live happily in his ...,1995-10-30,Toy Story,7.7
1,8844,When siblings Judy and Peter discover an encha...,1995-12-15,Jumanji,6.9
2,15602,A family wedding reignites the ancient feud be...,1995-12-22,Grumpier Old Men,6.5
3,31357,Cheated on mistreated and stepped on the wom...,1995-12-22,Waiting to Exhale,6.1
4,11862,Just when George Banks has recovered from his ...,1995-02-10,Father of the Bride Part II,5.7
...,...,...,...,...,...
44400,30840,Yet another version of the classic epic with ...,1991-05-13,Robin Hood,5.7
44401,111109,An artist struggles to finish his work while a...,2011-11-17,Century of Birthing,9.0
44402,67758,When one of her hits goes wrong a professiona...,2003-08-01,Betrayal,3.8
44403,227506,In a small town live two brothers one a minis...,1917-10-21,Satan Triumphant,0.0
44404,461257,years after decriminalisation of homosexualit...,2017-06-09,Queerama,0.0

In [58]:
pd.DataFrame(cosine_sim[0],columns=["similarity"]).sort_values(by="similarity", ascending=False)

       similarity
0        1.000000
15269    0.543800
2976     0.459605
10263    0.316227
24274    0.296270
...           ...
16128    0.000000
16129    0.000000
16131    0.000000
16132    0.000000
44404    0.000000

[44405 rows x 1 columns]

In [59]:
movies.loc[15269]

movieId                                                     10193
overview        Woody  Buzz  and the rest of Andy s toys haven...
release_date                                           2010-06-16
title                                                 Toy Story 3
vote_average                                                  7.6
Name: 15269, dtype: object

In [60]:
movies[movies["title"].str.contains(r"Iron Man", regex=True,case=False)].drop_duplicates()

,movieId,overview,release_date,title,vote_average
4400,41428,Tetsuo The Iron Man is a Japanese cyberpunk ...,1989-07-01,Tetsuo: The Iron Man,6.7
12545,1726,After being held captive in an Afghan cave bi...,2008-04-30,Iron Man,7.4
15078,10138,With the world now aware of his dual life as t...,2010-04-28,Iron Man 2,6.6
20617,13647,When a cocky industrialist s efforts to raise ...,2007-01-23,The Invincible Iron Man,5.5
20628,169934,Iron Man enlists the help of ruthless vigilant...,2013-04-24,Iron Man: Rise of Technovore,5.2
20652,68721,When Tony Stark s world is torn apart by a for...,2013-04-18,Iron Man 3,6.8
30465,284274,Iron Man and Captain America battle to keep th...,2014-07-29,Iron Man & Captain America: Heroes United,5.8
32362,230896,The Invincible Iron Man and the Incredible Hul...,2013-12-03,Iron Man & Hulk: Heroes United,5.4
34068,69592,In Coaltown Pennsylvania miner Coke Mason ho...,1951-08-18,Iron Man,5.0
40902,194310,Prizefighter Mason loses his opening fight so ...,1931-04-29,Iron Man,0.0

In [61]:
index = movies[movies["title"].str.contains(r"Iron Man", regex=True,case=False)].drop_duplicates().index[1]

In [62]:
index

12545

In [63]:
similarity = pd.DataFrame(cosine_sim[index], columns=["similarity"])\
.sort_values("similarity", ascending=False).drop(index).head(10).index

movies['title'].iloc[similarity]

37548      Fatal Fury: The Motion Picture
28310                               Clown
15078                          Iron Man 2
7525         The Wonderful Ice Cream Suit
39712                    Finding Altamira
15124    The Disappearance of Alice Creed
20652                          Iron Man 3
41946                   Guyver: Dark Hero
8305                             Scarface
40131                     Girl in the Box
Name: title, dtype: object

In [7]:
import pandas as pd
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity

In [14]:
def clean_data(data):
    data = data.copy()
    data = data.drop_duplicates()
    data = data.dropna()
    data = data.reset_index(drop=True)
    return data

In [35]:
def user_recommend (userid, moviedf, ratingdf, corr=0.6):
    moviedf = moviedf.copy()
    ratingdf = ratingdf.copy()
    
    moviedf = clean_data(moviedf)
    ratingdf = clean_data(ratingdf)
    
    moviedf = moviedf.rename(columns={"id":"movieId"})
    moviedf.loc[:,"movieId"] = moviedf["movieId"].astype("int64")
    
    df = pd.merge(moviedf,ratingdf,on="movieId",how="inner")
    
    user_movie_df = df.groupby(["userId","title"])["rating"].mean().unstack()
    
    random_user_df = user_movie_df[user_movie_df.index==userid]
    
    movies_watched = random_user_df.dropna(axis=1).columns.tolist()
    lucky_guy_watched_ids = df["movieId"][(df["userId"]==userid)]
    movies_watched_df = user_movie_df[movies_watched]
    user_movie_count = movies_watched_df.notnull().sum(axis=1)
    
    filted_df = movies_watched_df[movies_watched_df.index.isin(user_movie_count.index)]
    corr_df = filted_df.T.corr().unstack()
    top_users = pd.DataFrame(corr_df[userid][corr_df[userid] > corr], columns=["corr"])
    
    top_users_ratings = pd.merge(top_users, ratings[["userId", "movieId", "rating"]], how='inner', on="userId")
    top_users_ratings = top_users_ratings[~(top_users_ratings["movieId"].isin(lucky_guy_watched_ids))]
    top_users_ratings['weighted_rating'] = top_users_ratings['corr'] * top_users_ratings['rating']
    recommendation_df = top_users_ratings.pivot_table(values="weighted_rating", index="movieId", aggfunc="mean")
    movies_to_be_recommend = recommendation_df[recommendation_df["weighted_rating"] > 3.5]
    recommend_by_user = pd.merge(movies_to_be_recommend,moviedf,how="inner",on="movieId")[["movieId","weighted_rating","title"]].sort_values(by="weighted_rating", ascending=False)
    return recommend_by_user

In [23]:
def clear_doc(data,column):
    data = data.copy()
    data[column] = data[column].str.replace(r"[^\w\s]"," ",regex=True).str.replace(r"[\d]","",regex=True)
    return data[column]

In [33]:
def content_recommend(movieId, moviedf, doc_column="overview"):
    moviedf = moviedf.copy()
    moviedf = clean_data(moviedf)
    
    moviedf = moviedf.rename(columns={"id":"movieId"})
    moviedf.loc[:,"movieId"] = moviedf["movieId"].astype("int64")
    
    moviedf[doc_column] = clear_doc(moviedf,doc_column)
    
    tfidf = TfidfVectorizer(stop_words="english", min_df=5)
    tfidf_matrix = tfidf.fit_transform(moviedf[doc_column])
    
    
    cosine_sim = cosine_similarity(tfidf_matrix,tfidf_matrix)
    index = moviedf[moviedf["movieId"]==movieId].index[0]
    
    similarity = pd.DataFrame(cosine_sim[index], columns=["similarity"])\
    .sort_values("similarity", ascending=False).head(10).index

    recommend = moviedf['title'].iloc[similarity]
    
    return recommend

In [12]:
movies = pd.read_csv("/kaggle/input/the-movies-dataset/movies_metadata.csv",
                    usecols=["title","vote_average","release_date","overview","id"])
ratings = pd.read_csv("/kaggle/input/the-movies-dataset/ratings_small.csv")

In [22]:
user_recommend(362, movies, ratings, corr=0.6)

    movieId  weighted_rating                   title
9       407         5.000000       Short Sharp Shock
23      940         5.000000       The Lady Vanishes
79     5055         5.000000      Ashes and Diamonds
95    55765         5.000000          Righteous Ties
44     1927         5.000000                    Hulk
..      ...              ...                     ...
34     1566         3.512063              The Bridge
45     1957         3.508538                  Enough
60     2841         3.507362  A Very Long Engagement
28     1278         3.504239            The Dreamers
61     2925         3.503679    The First Wives Club

[98 rows x 3 columns]

In [ ]:
stop

In [34]:
content_recommend(407, movies, doc_column="overview")

17609         Short Sharp Shock
7980                  Crimetime
28548    Gorilla Bathes at Noon
2453                       Life
22040     All Things To All Men
27012              Mission Park
1582      Chairman of the Board
22419                   America
25108                 Gangsters
4927                 Caged Heat
Name: title, dtype: object